{% from "macros/_form.html" import render_form %}
{% from "macros/_misc.html" import render_signup_nav with context %}

{% set page_title = 'Sign up' %}

{% extends "layouts/base.html" %}

{% block topbar %}
{% endblock %}

{% block body %}
<div class='row vertical-center'>
	<div class="col-md-4 col-md-offset-4">
        
        {{ render_signup_nav() }}

        <div class="panel panel-default panel-borderless">
            <div class="panel-body">

                <p class="text-muted">
                    Already have an account? <a href="{{ url_for('frontend.login') }}">Sign in</a>, please.
                </p>
            </div>
        </div>

    </div>
</div>
{% endblock %}
