{% extends "panel/layout.html" %}
{% import "macros/_form.html" as form %}
{% import "panel/macros.jinja" as macros %}
{% block title %}Email{% endblock %}
{% block view %}
{% if options %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Option for {{ nav.objectname }}.
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p>{% trans %}With this plugin is possible to configure your connector. The configuration is split between a general part, the part for fetching and the part for sending.<br>Be careful that as soon as you enable the configuration it will start working!{% endtrans %}</p>
                <form style="margin:15px 0;" class="form" method="POST" action="{{ nav.form_url }}">
{{ options.hidden_tag() }}
<fieldset>
<legend>{% trans %}General information{% endtrans %}</legend>
{{ form.render_input(options.pyMailConnector) }}
{{ form.render_input(options.pyConnUserLogin) }}
{{ form.render_input(options.pyConnUserPassword) }}
</fieldset>
<fieldset>
<legend>Sending configuration</legend>
<p>You will be allowed to send emails through this address only after enabling it with the following switch:</p>
{{ form.render_checkbox(options.pyConnOutboundEnabled) }}
{{ form.render_input(options.pyConnSMTPURL) }}
<p>Server sending address with the following syntax: <tt>[smtpurl.example.com]:port</tt></p>
</fieldset>
<fieldset>
<legend>Fetching configuration</legend>
<p>Please be sure of what you are doing: enabling the fetching will download all of the email deleting them from the remote server.</p>
{{ form.render_checkbox(options.pyConnInboundEnabled) }}
{{ form.render_input(options.pyConnFetchFolders) }}
<p>Write the list of the inboxes to fetch from. User the following syntax: <tt>("InboxName",)</tt> or if more <tt>("Inbox1", "Inbox2")</tt></p>
{{ form.render_select(options.pyConnPullProtocol) }}
{{ form.render_input(options.pyConnPullURL) }}
<p>Write the imap or pop server's url (eg.: imap.meup.it).</p>
</fieldset>
{{ form.render_action(options.submit) }}
		</form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endif %}
{% if new or suboption %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                List of {{ nav.sublevelname }}s.
		{% if new %}
                <!-- Button trigger modal -->
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Add new element.
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Create new</h4>
                            </div>
                            <div class="modal-body">
                                {{ form.render_form(nav.form_url, new) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
		<!-- /.modal -->
                {% endif %}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">

                     {{ macros.Table(suboption)|safe }}

                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
{% endif %}

{% endblock %}

{% block customJS %}
<script>
$(document).ready(function() {
    $('#dataTables-example').DataTable({
        "responsive": true,
        "order": [[ 0, "asc" ]]
    });
{%- if new %}
{%- for field in new %}
    {%- if field.errors %}   
	$('#myModal').modal('show');
    {%- endif %}
{%- endfor %}
{%- endif %}
});
</script>
{% endblock %}
