{# Sidebar menu.

Required variables:
#}
<ul class="nav" id="side-menu">
    <li>
        <a href="{{ url_for('accounts.main') }}"><i class="fa fa-users fa-fw"></i> {% trans %}Account management{% endtrans %}<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{{ url_for('accounts.main', action='account', **nav['object_url']) }}">{% trans %}Accounts{% endtrans %}</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="{{ url_for('email.mail') }}"><i class="fa fa-envelope-o fa-fw"></i> {% trans %}Email management{% endtrans %}<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{{ url_for('email.mail', action='account', **nav['object_url']) }}">{% trans %}Accounts{% endtrans %}</a>
            </li>
	    {%- if menu['auth_level'] < 2 %}
            <li>
                <a href="{{url_for('email.mail', action='domain', **nav['object_url'])}}">{% trans %}Domains{% endtrans %}</a>
            </li>
            {%- endif %}
            <li>
                <a href="{{url_for('email.mail', action='connector', **nav['object_url'])}}">{% trans %}Connectors{% endtrans %}</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
</ul>
